

#box{
    width: 100%;
    /*height: 100%;*/
    min-height: 100%;
    max-height: 100%;
    overflow: scroll;
    box-sizing: content-box;
    /*position: relative;*/
    background-color: #F8F8F8;
}

.Header{
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background-color: #F8F8F8;
}
.HeaderLeft{
    width: 23%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.backIcon{
    width: 25px;
    height: 25px;
    display: inline-block;
    background: url("../image/back@2x.png");
    background-position: -5px center;
    background-size: 25px 25px;
    background-repeat: no-repeat;
}
.HeaderTitle{
    width: 100%;
    height: 44px;
    font-size: 18px;
    color: #333333;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.HeaderTitleIcon{
    width: 14px;
    height: 16px;
    display: inline-block;
    background-color: red;
    margin: 0 5px;
}

.HeaderRight1,.HeaderRight2{
    width: 19%;
    height: 44px;
    color: #999999;
    font-size: 15px;
    line-height: 40px;
    text-align: right;
    padding-right: 4%;
}
.HeaderRight2{
    display: none;
}

.right{
    color: #333333;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
}

.Product{
    width: 92%;
    height: auto;
    margin: 0 4%;
    overflow: hidden;
    padding: 50px 0 40px 0;
    border-radius: 5px;
}

.ProductBox{
    width: 100%;
    height: auto;
}

.ProductBoxItem{
    width: 100%;
    height: auto;
}

.ProductBoxItemIndex{
    width: 100%;
    height: auto;
    margin: 0 0 15px 0;
    border-radius: 5px;
    background-color: white;
}

.indexTop{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.indexTopInput{
    width: auto;
    height: 28px;
    padding-bottom: 2px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.CheckedInput{
    width: 15px;
    height: 15px;
    margin: 0 10px;
}

.indexTopShop{
    width: auto;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.indexTopIcon{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #623AA2;
    margin-right: 7px;
}

.indexTopType{
    width: auto;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.indexTopName{
    width: auto;
    height: 20px;
    font-size: 10px;
    color: #333333;
}

.indexTopGo{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url("../image/minepage_go_gray.png") no-repeat;
    background-size: 20px 20px;
    background-position: center center;
}

.indexCenterBox{
    width: 100%;
    height: auto;
    list-style: none;
}

.indexCenter{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e5e5e5;
}

.indexCenter:last-child{
    border-bottom: none;
}

.indexCenterCheck{
    width: auto;
    height: auto;
    margin: 0 5px 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.indexCenterChecked{
    width: 15px;
    height: 15px;
}

.indexCenterRight{
    flex: 1;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.indexCenterRightImage{
    width: 80px;
    height: 80px;
    display: inline-block;
    margin: 10px;
}

.indexCenterRightSet{
    flex: 1;
    height: 100px;
    padding: 10px 10px 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
}

.indexCenterRightSetText{
    width: 100%;
    height: auto;
    font-size: 10px;
    color: #333333;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    overflow: hidden;
}

.indexCenterRightSetTitle{
    width: auto;
    font-size: 10px;
    color: #333333;
    text-align: left;
    padding: 1px 3px;
    border-radius: 3px;
    background-color: #e5e5e5;
}

.indexCenterRightSetNum{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.money,.moneyNum{
    width: auto;
    font-size: 10px;
    color: red;
    text-align: left;
}

.num{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid #e5e5e5;
}

.numAdd,.numLess{
    width: 18px;
    height: 18px;
    display: inline-block;
    text-align: center;
}

.numAdd{
    /*background: url("../image/jifenduihuan_icon_zengjia .png");*/
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #e5e5e5;
}

.numLess{
    /*background: url("../image/jifenduihuan_icon_jianshao.png");*/
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #e5e5e5;
}

.numCenter{
    color: #333333;
    padding: 0 10px;
    font-size: 12px;
    display: inline-block;
}

.footer{
    width: 100%;
    height: 45px;
    position: fixed;
    left: 0;
    bottom:0;
    display: flex;
    background-color: #FFFFFF;
    border-top:1px solid #e5e5e5;
    box-shadow: 0 5px 15px 5px #e5e5e5;
}
.footerLeft{
    width: 65%;
    height: 45px;
    background-color: inherit;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.allCheck{
    width: auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.allNum{
    width: auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.check-all{
    width: 15px;
    height: 15px;
    margin: 0 5px 0 10px;
    display: inline-block;
}

.all{
    color: #333333;
    font-size: 14px;
    text-align: center;
}

.footerLeftAll{
    width: auto;
    text-align: left;
    font-size: 15px;
    color: #333333;
}

.footerLeftMoney,.Money{
    width: auto;
    font-size: 15px;
    color: #ea3838;
    padding-right: 5px;
}

.footerRight{
    width: 35%;
    height: 45px;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    font-size: 15px;
    color: #ffffff;
    background-color: #623AA2;
}
.footerRightGo{
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    background-color: #623AA2;
}

.total{
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
}

.deleteType{
    width:100%;
    height: 100%;
    background-color: #f10215;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
}

#deleteNum{
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
}


.show{
    display: block;
}
.hide{
    display: none;
}