

#box{
    background-color: #F8F8F8;
}

.Header{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: pink;
}
.HeaderLeft{
    width: 23%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.backIcon{
    width: 25px;
    height: 25px;
    display: inline-block;
    background: url("../image/back@2x.png");
    background-position: center center;
    background-size: 25px 25px;
    background-repeat: no-repeat;
}
.HeaderTitle{
    width: 100%;
    height: 40px;
    font-size: 18px;
    color: #333333;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.HeaderTitleIcon{
    width: 14px;
    height: 16px;
    display: inline-block;
    background-color: red;
    margin: 0 5px;
}

.HeaderRight1,.HeaderRight2{
    width: 23%;
    height: 40px;
    font-size: 15px;
    color: #999999;
    line-height: 40px;
    text-align: center;
}
.HeaderRight2{
    display: none;
}

.right{
    font-size: 14px;
    color: #333333;
    text-align: center;
    line-height: 40px;
}





.footer{
    width: 100%;
    height: 45px;
    box-shadow: 0 5px 15px 5px #e5e5e5;
    position: fixed;
    left: 0;
    bottom:0;
    display: flex;
    background-color: #FFFFFF;
}
.footerLeft{
    width: 65%;
    height: 45px;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerLeftIcon{
    width: 20px;
    height: 20px;
    margin: 0 10px;
    display: inline-block;
    background-color: pink;
}
.footerLeftAll{
    flex: 1;
    text-align: left;
    font-size: 15px;
    color: #333333;
}
.footerLeftMoney{
    font-size: 15px;
    color: #ea3838;
}
.footerRight{
    width: 35%;
    height: 45px;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    font-size: 15px;
    color: #ffffff;
    background-color: #623AA2;
}
.footerRightGo{
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    background-color: #623AA2;
    /*display: none;*/
}

.deleteType{
    width:100%;
    height: 100%;
    background-color: #f10215;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
}

