
html {
    overflow-x: hidden;
    overflow-y: auto;
}

#box {
    width: 100%;
    height: auto;
    position: relative;
    background: linear-gradient(to bottom left, #8C1BAB 0%, #623AA2 50%, #F97794 100%);
    margin-bottom: 40px;
    padding-bottom: 10px;
    overflow: hidden;
}

.headerTop {
    width: 100%;
    height: 44px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    /*background: linear-gradient(to top right,#3b2667 0%, #bc78ec 100%);*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerNav {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.icon {
    width: 11%;
    height: 45px;
    display: inline-block;
    background: url("../image/saoyisao.png") no-repeat;
    background-size: 50px 40px;
    background-position: center center;
}

.header_nav {
    width: 78%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.headerInput {
    width: 100%;
    height: 30px;
    border-radius: 15px;
    padding-left: 30px;
    font-size: 13px;
    line-height: 30px;
    text-align: left;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_nav_icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url("../../images/search@2x.png");
    background-repeat: no-repeat;
    background-size: 27px 27px;
    background-position: 70% center;
    position: absolute;
    top: 7px;
    left: 0;
}

.header_nav_camera {
    width: 40px;
    height: 45px;
    display: inline-block;
    background: url("../image/Camera_332px_1130661_easyicon.net.png");
    background-repeat: no-repeat;
    background-size: 19px 17px;
    background-position: center 48%;
    position: absolute;
    top: 0;
    right: 0;
}

.header_right {
    width: 11%;
    height: 44px;
    display: inline-block;
    float: left;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    background: url("../image/huiyuanma.png") no-repeat;
    background-size: 35px 35px;
    background-position: center center;
}

.header_right_icon {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.Carousel {
    width: 100%;
    height: auto;
    /*margin-top: 40px;*/
    overflow: hidden;
    position: relative;
}

.Carousel ul {
    width: 1000%;
    list-style: none;
    overflow: hidden;
    float: left;
}

.Carousel ul li {
    width: 10%;
    float: left;
}

.Carousel ul li a {
    width: 100%;
    display: block;
}

.Carousel ul li a img {
    width: 100%;
    display: block;
}

.index {
    width: 23%;
    height: 7px;
    position: absolute;
    top: 90%;
    left: 38.5%;
    list-style: none;
}

.index li {
    width: 5px;
    height: 5px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    float: left;
    margin-left: 5.5%;
}

.current {
    background-color: yellow;
}

.Supermarket {
    width: 100%;
    margin-top: 5px;
}

.Supermarket ul {
    width: 100%;
    list-style: none;
    overflow: hidden;
    padding-top: 10px;
}

.Supermarket ul li {
    width: 20%;
    float: left;
    text-align: center;
    margin-bottom: 15px;
}

.Supermarket ul li a {
    width: 100%;
    display: block;
    text-decoration: none;
}

.Supermarket ul li a p {
    font-family: "sans-serif";
    font-size: 12px;
    color: #ffffff;
}

.Supermarket ul li a img {
    width: 30px;
    height: 30px;
}

.body {
    width: 95%;
    height: auto;
    margin: 5px 2.5% 12px 2.5%;
    background-color: #ffffff;
    border-radius: 5px;
}

.body_header {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
}

.body_title {
    width: auto;
    height: 20px;
    float: left;
    line-height: 20px;
    text-align: left;
    font-size: 15px;
    color: #f10215;
    font-weight: bold;
    padding-left: 10px;
}

.body_time {
    flex: 1;
    height: 20px;
    line-height: 20px;
    display: flex;
    justify-content: end;
    align-content: center;
    align-items: center;
}

.body_time_title {
    width: auto;
    height: 20px;
    text-align: left;
    color: #333333;
    padding-left: 10px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*align-content: center;*/
}

.body_time_box {
    width: auto;
    height: auto;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*align-content: center;*/
}

.body_time_box span {
    width: auto;
    height: 20px;
    display: inline-block;
    font-size: 14px;
    color: #333333;
    line-height: 20px;
    text-align: center;
}

.body_time_span_dian {
    width: 10px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.genDuo {
    width: auto;
    height: 20px;
    float: right;
    line-height: 20px;
    text-align: right;
    font-size: 12px;
    color: #f10215;
    padding-right: 5px;
    display: flex;
    padding-left: 5px;
}

.genDuo_icon {
    width: 17px;
    height: 20px;
    display: inline-block;
    background: url("../image/arrow_rt.png") no-repeat;
    background-size: 12px 12px;
    background-position: center center;
}

.body_img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.body_img_left, .body_img_content, .body_img_right {
    width: 33.33%;
    height: 140px;
    display: flex;
    flex-wrap: wrap;
}

.body_img_left {
    float: left;
}

.body_img_content {
    float: left;
}

.body_img_right {
    float: right;
}

.body_img_left_bg, .body_img_content_bg, .body_img_right_bg {
    width: 100%;
    height: 90px;
    display: inline-block;
    padding: 10%;
    border-left: 1px solid #e5e5e5;
}

.body_img_left_bg {
    background: url("../image/detail01.jpg") no-repeat;
    background-size: 80% 80%;
    background-position: center center;
    border-left: none;
}

.body_img_content_bg {
    background: url("../image/detail02.jpg") no-repeat;
    background-size: 80% 80%;
    background-position: center center;
}

.body_img_right_bg {
    background: url("../image/detail03.jpg") no-repeat;
    background-size: 80% 80%;
    background-position: center center;
}

.body_img_left_true, .body_img_content_true, .body_img_right_true {
    width: 100%;
    height: 25px;
    display: inline-block;
    line-height: 25px;
    color: #f10215;
    text-align: center;
    font-size: 13px;
}

.body_img_left_false, .body_img_content_false, .body_img_right_false {
    width: 100%;
    height: 25px;
    display: inline-block;
    line-height: 20px;
    color: #999999;
    text-align: center;
    font-size: 13px;
    text-decoration: line-through;
}

.Digital {
    width: 95%;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 15px 2.5% 12px 2.5%;
}

.Digital_header {
    width: 100%;
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Digital_header_left {
    width: auto;
    height: 34px;
    line-height: 34px;
    display: inline-block;
    text-align: left;
    color: #333333;
    font-size: 13px;
    font-weight: bold;
    padding: 0 10px 0 10px;
}

.Digital_header_right {
    flex: 1;
    height: 20px;
    overflow: hidden;
    display: flex;
}

.Digital_header_right_text1 {
    line-height: 17px;
    text-align: center;
    padding: 0 3px;
    font-size: 10px;
    color: #f10215;
    background-color: rgba(255, 165, 167, 0.8);
    border-radius: 5px;
    margin: 0 5px 0 0;
}

.Digital_header_right_ul {
    width: 100%;
    height: auto;
    position: relative;
    animation: moveUp 10s 0.9s infinite;
    -webkit-animation: moveUp 10s 0.9s infinite;
}

@keyframes moveUp {
    0% {
        top: 0;
    }
    18% {
        top: 0;
    }
    20% {
        top: -20px;
    }
    38% {
        top: -20px;
    }
    40% {
        top: -40px;
    }
    58% {
        top: -40px;
    }
    60% {
        top: -60px;
    }
    78% {
        top: -60px;
    }
    80% {
        top: -80px;
    }
    98% {
        top: -80px;
    }
}

@-webkit-keyframes moveUp {
    0% {
        top: 0;
    }
    18% {
        top: 0;
    }
    20% {
        top: -20px;
    }
    38% {
        top: -20px;
    }
    40% {
        top: -40px;
    }
    58% {
        top: -40px;
    }
    60% {
        top: -60px;
    }
    78% {
        top: -60px;
    }
    80% {
        top: -80px;
    }
    98% {
        top: -80px;
    }
}

.Digital_header_right_li {
    width: 98%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    line-height: 20px;
    margin-right: 2%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Digital_header_right_title1 {
    flex: 1;
    height: 20px;
    font-size: 12px;
    color: #333333;;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Digital_nav {
    width: 100%;
    height: auto;
}

.Digital_nav_ul {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.Digital_nav_ul li {
    width: 50%;
    height: 130px;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.Digital_nav_ul li:nth-child(2) {
    border-right: none;
}

.Digital_nav_ul li:nth-child(4) {
    border-right: none;
}

.Digital_nav_li_header {
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    margin-top: 10px;
    color: #333333;
    text-align: left;
    display: flex;
}

.Digital_nav_li_icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url("../image/arrow_rt.png");
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: center center;
    margin: 0 1px 0 10px;
}

.Digital_nav_li_left {
    width: 55%;
    height: 100px;
    float: left;
}

.Digital_nav_li_left_title {
    width: 100%;
    height: 25px;
    display: inline-block;
    line-height: 25px;
    text-align: left;
    padding-left: 10px;
    font-size: 12px;
    color: #333333;
    overflow: hidden;
}

.Digital_nav_li_left img {
    width: 100%;
    height: 71px;
    padding: 0 7px 7px 7px;
}

.Digital_nav_li_right {
    width: 45%;
    height: 99px;
    float: right;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Digital_nav_li_right img {
    width: 100%;
    padding: 4% 2% 4% 2%;
}

.MallData {
    width: 95%;
    height: auto;
    margin: 15px 2.5% 12px 2.5%;
    border-radius: 5px;
    /*background: linear-gradient(to top right, #3b2667 0%, #bc78ec 100%);*/
}

.MallDataSet {
    width: 100%;
    height: auto;
    border-radius: 5px;
    /*background-color: #623AA2;*/
}

.MallDataSetUl{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.MallDataSetLi{
    width: 23%;
    height: auto;
    margin: 1% 1.3%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: royalblue;
}

.MallDataSetLi:nth-child(4){
    margin-right: 0;
}

.MallDataSetLi:nth-child(5){
    margin-left: 0;
}

.MallDataSetLi:first-child{
    margin-left: 0;
}

.MallDataSetLi:last-child{
    margin-right: 0;
}

.MallDataSetImg{
    width: 100%;
    display: inline-block;
    background-color: yellow;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.MallDataSetText{
    width: 100%;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: rgba(188, 120, 236,0.4);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.MallDataSetTitle{
    width: 100%;
    height: 15px;
    text-align: center;
    font-size: 13px;
    color: white;
    line-height: 15px;
}

.MallDataSetNum{
    width: 100%;
    height: 15px;
    text-align: center;
    font-size: 10px;;
    color: white;
    line-height: 15px;
}


.EatDrinkHaveFun {
    width: 95%;
    height: auto;
    margin: 0 2.5% 15px 2.5%;
    border-radius: 5px;
    background: linear-gradient(to top right, #3b2667 0%, #bc78ec 100%);
}

.EatDrinkHaveFunSet {
    width: 100%;
    height: 100px;
    position: relative;
    border-radius: 5px;
    background:url("../image/381.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.EatDrinkHaveFunErr {
    width: 65px;
    height: 65px;
    border-radius: 5px;
    background-color: white;
    border: 3.5px solid yellow;
    position: absolute;
    top: 17.5px;
    left: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
}


.EatDrinkHaveFunUl {
    width: 325px;
    height: 57.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: myani 10s 0s infinite;
    -webkit-animation: myani 10s 0s infinite;

}

.EatDrinkHaveFunUl li {
    width: 50px;
    height: 45px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.EatDrinkHaveFunErrImage{
    width: 50px;
    height: 45px;
}

@keyframes myani {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: -55px;
    }
    40% {
        margin-left: -110px;
    }
    60% {
        margin-left: -170px;
    }
    80% {
        margin-left: -225px;
    }
}

@-webkit-keyframes myani {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: -55px;
    }
    40% {
        margin-left: -110px;
    }
    60% {
        margin-left: -170px;
    }
    80% {
        margin-left: -225px;
    }
}

.EatDrinkHaveFunGo {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: #F97794;
    position: absolute;
    top: 35px;
    right: 10px;
    font-size: 13px;
    color: white;
    border-radius: 50%;
    text-align: center;
    -webkit-animation-name: scaleDraw; /*关键帧名称*/
    -webkit-animation-timing-function: ease-in-out; /*动画的速度曲线*/
    -webkit-animation-iteration-count: infinite; /*动画播放的次数*/
    -webkit-animation-duration: 4s; /*动画所花费的时间*/
}

@keyframes scaleDraw { /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
    0% {
        transform: scale(1); /*开始为原始大小*/
    }
    25% {
        transform: scale(1.1); /*放大1.1倍*/
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.Slider {
    width: 95%;
    height: auto;
    margin: 15px 2.5% 12px 2.5%;
    border-radius: 5px;
    background: linear-gradient(to top right, #3b2667 0%, #bc78ec 100%);
    overflow: scroll;
}

.SliderTopTitle {
    width: 100%;
    height: 35px;
    background: #ffffff;
    border-bottom: 1px solid #e5e5e5;
}

.SliderName {
    flex: 1;
    height: 35px;
    text-align: left;
    line-height: 35px;
    color: #333333;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    padding: 0 10px;
}

.SliderChildren {
    width: auto;
    height: auto;
    overflow-x: auto;
    display: flex;
}

.SliderChildren::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

.SliderChildrenBox {
    width: 260px;
    height: 100px;
    margin: 0 5px;
    background-color: #ffffff;
    display: flex;
}

.SliderChildrenBox:first-child {
    margin-left: 0;
}

.SliderChildrenBox:last-child {
    margin-right: 0;
}

.SliderLi {
    width: 260px;
    height: 100px;
    position: relative;
    display: flex;
}

.SliderShop {
    font-size: 12px;
    color: #f10215;
    border-radius: 10px;
    border: 1px solid #f10215;
    padding: 1px 6px;
    position: absolute;
    bottom: 15px;
    right: 10px;
}

.SliderImg {
    width: 80px;
    height: 80px;
    margin: 10px;
}

.SliderRightBox {
    flex: 1;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.SliderMi {
    padding: 0 4px;
    background-color: #f10215;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    border-radius: 7px;
    margin-right: 5px;
}

.SliderTitle {
    width: 100%;
    height: auto;
    text-align: left;
    color: #333333;
    font-size: 12px;
    margin-top: 10px;
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.SliderTotal {
    width: 100%;
    font-size: 12px;
    text-align: left;
    color: #999999;
}

.SliderGrand {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: flex;
    align-self: flex-end;
}

.money, .RenMoney {
    width: auto;
    font-size: 14px;
    color: #333333;
    text-align: center;
}

.symbol {
    font-size: 14px;
    color: red;
}

.SliderRen {
    width: 14px;
    font-size: 12px;
    color: white;
    display: inline-block;
    margin: 0 4px 0 7px;
    background-color: red;
    text-align: center;
}

.RenSymbol {
    font-size: 14px;
    color: #000000;
}

.life {
    width: 95%;
    height: auto;
    margin: 15px 2.5% 12px 2.5%;
    background-color: #ffffff;
    /*border: 1px solid #e5e5e5;*/
    border-radius: 5px;
    overflow: hidden;
}

.life_header {
    flex: 1;
    height: 35px;
    text-align: left;
    line-height: 35px;
    color: #333333;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    padding: 0 10px;
}

.life_left {
    width: 55%;
    height: auto;
    float: left;
    border-right: 1px solid #e5e5e5;
}

.life_left_top {
    width: 100%;
    height: 90px;
    background-color: skyblue;
}

.life_left_top img {
    width: 100%;
    height: 90px;
}

.life_left_bottom {
    width: 100%;
    height: 90px;
    background-color: skyblue;
    border-top: 1px solid #e5e5e5;
}

.life_left_bottom img {
    width: 100%;
    height: 90px;
}

.life_right {
    width: 45%;
    height: 180px;
    background-color: yellow;
    float: right;
}

.life_right img {
    width: 100%;
    height: 180px;
}

.list {
    width: 100%;
    height: auto;
    margin: 15px 0 12px 0;
    overflow: hidden;
}

.list_header {
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    color: #333333;
    text-align: center;
    position: relative;
}

.list_header span {
    font-size: 17px;
    color: #fff;
}

.add_list {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.add_list_index {
    width: 46%;
    height: auto;
    border-radius: 5px;
    margin: 1.4%;
    background-color: #ffffff;
}

.add_list_index_img {
    width: 100%;
    height: 150px;
    padding: 8px 10px 0 10px;
}

.add_list_index_title {
    flex: 1;
    height: 25px;
    line-height: 28px;
    font-size: 13px;
    color: #333333;
    text-align: left;
    padding-left: 7%;
    overflow: hidden;
}

.add_list_index_zhan {
    flex: 1;
    height: 30px;
}

.add_list_index_zhan_left {
    width: auto;
    height: 25px;
    line-height: 25px;
    float: left;
    text-align: left;
    padding-left: 7%;
    font-size: 12px;
    color: #f10215;
}

.add_list_index_zhan_right {
    width: auto;
    height: 22px;
    display: inline-block;
    line-height: 19px;
    padding: 1px 5px 1px 5px;
    font-size: 12px;
    border-radius: 3px;
    color: #333333;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    float: right;
    margin-right: 7%;
    margin-top: 2px;
}

.list_btn {
    width: 100%;
    height: 40px;
    line-height: 50px;
    text-align: center;
    font-size: 12px;
    color: #ffffff;

}

#topIcon {
    width: 35px;
    height: 35px;
    background: url("../../images/scroll-to-top-icon.png");
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: center center;
    position: fixed;
    right: 10%;
    bottom: 15%;
}

/*[class^="icon_"]{*/
/*background: url("../../images/sprites.png") no-repeat;*/
/*-webkit-background-size:200px 200px;*/
/*background-size:230px 230px;*/
/*background-position: -93px 2px;*/
/*}*/