<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>商品展示</title>
    <link rel="stylesheet" href="../style/base.css">
    <link rel="stylesheet" href="../style/shared.css">
    <link rel="stylesheet" href="style/ProductShowcase.css">
</head>
<body>
<div id="box">
    <div class="Details">
        <p class="DetailsPost" onclick="window.history.back()">
            <span class="DetailsBack"></span>
        </p>
        <div class="DetailsBox">
            <p class="DetailsShowImg">
                <img class="DetailsImg" src="" alt="">
            </p>
            <div class="DetailsSet">
                <div class="DetailsTitle">
                    <!--<p class="DetailsLimitedTime">限时特价</p>-->
                    <p class="DetailsPrice">¥29.9 <span class="DetailsOriginalPrice">¥299</span></p>
                    <!--<p class="DetailsDiscount">1折</p>-->
                    <!--<p class="DetailsShipping">包税</p>-->
                </div>
                <p class="DetailsText">美白紧致水嫩修护，补水美白收缩毛孔提亮肤色护肤精华液7天安瓶 10.5ML</p>
                <div class="DetailsSource">
                    <p class="DetailsSourceFor">发货地:</p>
                    <p class="DetailsPlace">瑞士伯尔尼</p>
                </div>
            </div>
        </div>
    </div>
    <div class="Return">
        <div class="ReturnSet">
            <div class="ReturnLeft">
                <p class="ReturnExpensive"><span class="ReturnExpensiveIcon"></span>一贵就赔</p>
                <p class="ReturnTitle">DEKREI旗舰店发货，满58包邮，包税，7天无理由退货</p>
            </div>
            <p class="ReturnRight"></p>
        </div>
    </div>
    <div class="activity">
        <div class="activitySet">
            <p class="activityTitle"><span class="activityTask">新人：</span>领取新人薯券大礼包,一单最高可立省25元</p><span class="activityBack"></span>
        </div>
        <div class="activitySet">
            <p class="activityTitle"><span class="activityTask">薯券：</span><span class="activityQua">店铺券</span>满188减30 满280减60 满288减90</p><span class="activityBack"></span>
        </div>
    </div>
    <div class="Store">
        <div class="StoreSet">
            <span class="StoreIcon"></span>
            <div class="StoreName">
                <p class="StoreTitle">DEKREI迪凯瑞旗舰店</p>
                <p class="StoreNum">在售商品119件</p>
            </div>
            <p class="StoreGoto">进店逛逛<span class="StoreGotoIcon"></span></p>
        </div>
    </div>
    <div class="comment">
        <div class="commentSet">
            <p class="commentTop">
                <span class="commentDetails">宝贝详情(34)</span>
                <span class="commentMore">查看更多<span class="commentGo"></span></span>
            </p>
            <div class="commentText">
                <p class="commentMe">
                    <span class="commentNameIcon"></span><span class="commentName">Stephen</span>
                </p>
                <p class="commentTitle">东西很好用，碰巧打折优惠，下次还会再来买。</p>
            </div>
            <div class="commentQuestion">
                <p class="commentNo">暂无问答</p>
                <div class="DetailsPlaceSer">
                    <span class="commentGood"><span class="commentReply">问大家</span>宝贝好不好，问问已买过的人</span><span class="commentGoReply">去提问</span>
                </div>
            </div>
        </div>
    </div>
    <div class="solid">
        <div class="solidSet">
            <p class="xian1"></p>
            <p class="xian2"></p>
        </div>
        <p class="solidText">宝贝详情</p>
    </div>
    <!--<div class="Introduction">-->
    <!--<div class="IntroductionBgImg"></div>-->
    <!--</div>-->
</div>


<div class="bottomAdd">
    <div class="bottomAddLeft">
        <p class="bottomAddLeftKe">
            <span class="bottomAddLeftKeIcon1"></span>
            <span class="bottomAddLeftKeTitle">客服</span>
        </p>
        <p class="bottomAddLeftKe">
            <span class="bottomAddLeftKeIcon2"></span>
            <span class="bottomAddLeftKeTitle">店铺</span>
        </p>
    </div>
    <div class="bottomAddRight">
        <p class="bottomAddRightAddShop">加入购物车</p>
        <p class="bottomAddRightAddGo">立即购买</p>
    </div>
</div>


</body>
<script src="../script/mock-min.js"></script>
<script src="../script/jquery-3.2.1.js"></script>
<script src="script/ProductShowcase.js"></script>
<script src="script/data.js"></script>
<script></script>
</html>
