#box{
    background-color: #d8dddc;
}

.header_nav1{
    width: 100%;
    height: 60px;
    /*padding-top: 10px;*/
    overflow: hidden;
    background-color: #ffffff;
}
.header_left{
    width: 15%;
    height: 100%;
    float: left;
    margin-left: 5%;
}
.header_icon{
    width: 85%;
    height: 70%;
    display: inline-block;
    background: url(../image/touxiang.png) no-repeat;
    background-size: 40px 40px;
    margin: 15% 0 15% 15%;
}

.header_center{
    width: 65%;
    height: 100%;
    float: left;
}
.header_text1{
    width: 100%;
    height: 30px;
    padding-left: 5px;
}
.registered,.Landing{
    width: auto;
    height: 30px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 35px;
}
.header_go{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(../image/minepage_go_gray.png) no-repeat;
    background-size: 25px 25px;
    background-position: 0 1px;
}
.header_text2{
    width: 100%;
    height: 20px;
    font-size: 12px;
    text-align: left;
    line-height: 20px;
    padding-left: 5px;
}
.header_right{
    width: 15%;
    height: 100%;
    float: right;
}
.header_Setting{
    width: 55%;
    height: 45%;
    display: inline-block;
    background: url(../image/minepage_btn_set.png) no-repeat;
    background-size: 100% 100%;
    margin: 15% 0 0 15%;
}

.center_nav2{
    width: 100%;
    height: 80px;
    padding-top: 10px;
    /*margin-top: 10px;*/
    overflow: hidden;
    background-color: #ffffff;
}
.center_center{
    width: 90%;
    height: 60px;
    margin: 0 5% 0 5%;
    border-radius: 10px;
    box-shadow: 0 1px 2px 2px rgba(123,123,242,0.22);
}
.center_center ul{
    width: 100%;
    height: 60px;
}
.center_center ul li{
    width: 25%;
    height: 60px;
    float: left;
}
.center_center ul li a{
    width:100%;
    height: 100%;
    display: block;
}
.center_center ul li a img{
    width: 30%;
    height: 45%;
    margin: 8% 35% 0 35%;
}
.center_center ul li a p{
    width: 100%;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color:#333333;
}

.body_nav3{
    width: 100%;
    height: 160px;
    padding-top: 10px;
    overflow: hidden;
    background-color: #ffffff;
}
.body_center{
    width: 85%;
    height: 140px;
    margin: 0 7.5% 0 7.5%;
    border-radius: 10px;
    box-shadow: 0 1px 2px 2px rgba(123,123,242,0.22);
}
.clearfix{
    width: 100%;
    height: 100%;
}
.clearfix li{
    width: 20%;
    height: 50%;
    float: left;
}
.clearfix li a{
    width: 100%;
    height: 100%;
}
.clearfix li a img{
    width: 45%;
    height: 45%;
    margin: 10% 27.5% 0 27.5%;
}
.clearfix li a p{
    width: 100%;
    height: 25px;
    font-size: 12px;
    color: #333333;
    text-align: center;
    line-height: 25px;
}

.bottom_nav{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin:0 0 45px 0;
    background-color: #fff;
}
.Variety{
    width: 100%;
    height: 40px;
    padding-left: 15px;
    float: left;
}
.Variety p{
    width: 90%;
    height: 40px;
    float: left;
    font-size: 13px;
    text-align: left;
    line-height: 40px;
    border-bottom: 1px solid #e5e5e5;
}
.Variety>span{
    width: 10%;
    height: 40px;
    display: inline-block;
    background: url("../image/minepage_go_gray.png") no-repeat;
    background-size: 80% 65%;
    background-position: 100% 50%;
    border-bottom: 1px solid #e5e5e5;
}

.active {
    color: white;
    background-color: black;
}
.none {
    background-color: whitesmoke;
}