
.headerTop {
    width: 100%;
    height: 44px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: linear-gradient(to top right,#3b2667 0%, #bc78ec 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-bottom: 1px solid #e5e5e5;*/
}

.headerNav {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.icon {
    width: 11%;
    height: 45px;
    display: inline-block;
    background: url("../../Home/image/saoyisao.png") no-repeat;
    background-size: 50px 40px;
    background-position: center center;
    visibility: hidden;
}

.header_nav {
    width: 78%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.headerInput {
    width: 100%;
    height: 30px;
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 35px;
    font-size: 13px;
    line-height: 30px;
    text-align: left;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_nav_icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url("../../images/search@2x.png");
    background-repeat: no-repeat;
    background-size: 27px 27px;
    background-position:center center;
    position: absolute;
    top: 8px;
    left: 0;
}

.header_nav_camera {
    width: 40px;
    height: 45px;
    display: inline-block;
    background: url("../../Home/image/Camera_332px_1130661_easyicon.net.png");
    background-repeat: no-repeat;
    background-size: 19px 17px;
    background-position: center 50%;
    position: absolute;
    top: 0;
    right: 0;
}

.header_right {
    width: 11%;
    height: 44px;
    display: inline-block;
    float: left;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    background: url("../../Home/image/huiyuanma.png") no-repeat;
    background-size: 35px 35px;
    background-position: center center;
}

.header_right_icon {
    width: 20px;
    height: 20px;
    display: inline-block;
}




/* 主要区域 */
.category_main{
    width:100%;
    height:auto;
    overflow: hidden;
    padding:45px 0 45px 0;
}

.category_main_left{
    width:23%;
    height:auto;
    float: left;
    overflow: hidden;
}

.category_left_con{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.category_left_con li{
    width:100%;
    height:50px;
    line-height: 50px;
    text-align: center;
    background-color: #623AA2;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.category_left_con li a {
    width:100%;
    height: auto;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
}

.category_left_con li.current{
    background-color: #fff;
    border-right: none;
}

.category_left_con li.current a{
    color:#e9232c;
}

/* 右边 */
.category_main_right{
    width: 75%;
    float: right;
    height: auto;
    overflow: hidden;
    overflow-y: auto;
    margin:0 1% 0 1%;
}

.category_main_right>a>img{
    width:100%;
    display: block;
}

.category_right_con{
    width: 100%;
    height: auto;
}

.category_right_con h3{
    width: 100%;
    height: 40px;
    font-size: 16px;
    text-align: left;
    line-height: 40px;
    padding-left: 10px;
}

.category_right_con ul{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-y: auto;
    white-space:nowrap;
    align-items: center;
    justify-content: flex-start;
}

.category_right_con ul li{
    width:30%;
    height: 100px;
    margin: 1.5%;
}

.category_right_con ul li>a{
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.category_right_con ul li a img{
    width: 100%;
    height: 80px;
}

.center_title{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.center_title_Name{
    width: 50%;
    height: 100%;
    font-size: 12px;
    color: #333333;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center_title_money{
    width: 50%;
    height: 100%;
    font-size: 12px;
    color: #ff3e3e;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

